<header class="navbar">
  <div class="logo">
    <img src="https://themes.muffingroup.com/be/finance/wp-content/uploads/2015/01/retina-finance.png">
  </div>
  <nav class="menu">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/checkout">Buy Now</a></li>
    </ul>
  </nav>
</header>
