<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Finance Website</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <%- include('../partials/navbar') %>  <!-- This works -->

  <%- body %>  <!-- This will inject index.ejs content -->

  <%- include('../partials/footer') %>  <!-- This works -->

</body>
</html>
